@font-face {
    font-family: 'NanumMyeongjo';
    src: url('../assets/fonts/NanumMyeongjo.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjo-e';
    src: url('../assets/fonts/NanumMyeongjoExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjo-b';
    src: url('../assets/fonts/NanumMyeongjoBold.ttf') format('truetype');
}
@font-face {
    font-family: 'EngWedding';
    src: url('../assets/fonts/EngWedding.otf') format('opentype');
}
@font-face {
    font-family: 'Dahang';
    src: url('../assets/fonts/dahang.ttf') format('truetype');
}
@font-face {
    font-family: 'Honeymoon';
    src: url('../assets/fonts/honeymoon.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('../assets/fonts/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumGothic-b';
    src: url('../assets/fonts/NanumGothicBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumGothic-e';
    src: url('../assets/fonts/NanumGothicExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumGothic-l';
    src: url('../assets/fonts/NanumGothicLight.ttf') format('truetype');
}