.imgbox{
    height:50vh;
}
.grey {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}
.main_image_text {
    position: absolute;
    text-align:center;
    font-size: 250%;
    top: 5%;
    left: 30%;
    transform: translate( -50%, -50% );
    font-family: 'Dahang';
    color: white;
    margin-left:auto;
    margin-right:auto;
}